$header-text-color: #277baf;
$header-title-color: #6cbeff;
$header-button-color: #6cbeff;
$header-button-border-color: #78b8f7;
$header-background-color: #c5eaff;
$link-color: #6cbeff;
/**********************/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

/**********************/

.hero-background {
  position: absolute;
  background-image: linear-gradient(
    rgb(255, 255, 255) 0%,
    $header-background-color 100%
  );
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
}

body {
  color: $header-text-color;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  letter-spacing: -0.08rem;
}

h1,
h2 {
  color: $header-title-color;
  font-family: 'Fira Code', monospace;
  letter-spacing: -0.2rem;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 500;
}

a:link,
a:visited {
  color: $link-color;
}

button[id='roll'] {
  background-color: $header-button-color;
  border-color: $header-button-border-color;
  border-radius: 10rem;
}

main {
  margin-top: 0.5rem;
}

nav {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.subtitle {
  text-align: center;
  color: #333;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  letter-spacing: -0.15rem;
}

/******************/
/* Medias-Queries */
/******************/

@media screen and (max-width: 767px) {
  .hero-background {
    height: 130px;
  }
}
@media screen and (max-width: 442px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .hero-background {
    height: 140px;
  }
}

@media screen and (max-width: 353px) {
  .hero-background {
    height: 190px;
  }
}
